
body {
  font-family: Arial, sans-serif;
  -webkit-user-select: none;	/* for safari & chrome browsers */
  -moz-user-select: none;   	/* for mozilla browsers */
  -ms-user-select: none;    	/* for IE10+ */
/*  background-color: white; */
  background:url('background.png');
  height: auto;
  min-height:100%;
  background-repeat: repeat;
  color: white;
}

a {
    color: grey;  /* Change the link color */
}

table {
  padding-left: 50px;
  width: 60%;
  border-collapse: collapse;
  border-color: black;
  background-color: #3a3f44;
}
th, td {
  padding: 8px;
  text-align: left;

}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
  font-size: 0.9em;
  margin-left: 8px;
}

button:active + .tooltip,
button:focus + .tooltip {
  visibility: visible;
}
